Source: djview4
Section: web
Priority: optional
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 5), autotools-dev, libdjvulibre-dev (>= 3.5.19), libx11-dev | xlibs-dev, libxext-dev | xlibs-dev, libxt-dev | xlibs-dev, x-dev | xlibs-dev, libqt4-dev (>= 4.1), libtiff4-dev | libtiff3g-dev | libtiff-dev
Vcs-Cvs: :ext:@djvu.cvs.sourceforge.net:/cvsroot/djvu
Homepage: http://djvu.sourceforge.net/
Standards-Version: 3.7.3

Package: djview4
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}, xdg-utils
Recommends: djvulibre-plugin
Suggests: djvulibre-bin
Description: Viewer for the DjVu image format
 DjVu viewer djview.
 .
 DjVu is a set of compression technologies, a file format, and a
 software platform for the delivery over the Web of digital documents,
 scanned documents, and high resolution images.
