#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- --disable-nsdejavu --disable-desktopfiles

override_dh_auto_build: debian/djvulibre-djview4.xpm
	dh_auto_build

debian/djvulibre-djview4.xpm: desktopfiles/djview.svg
	convert -geometry 32x32 -depth 8 -background none $< $@

icon=djvulibre-djview4
iconbasedir=debian/tmp/usr/share/icons/hicolor

override_dh_auto_install:
	dh_auto_install -- \
		plugindir=/usr/lib/netscape/plugins-libc6 \
		DESTDIR=$(CURDIR)/debian/tmp
	@echo "flush djview links, handled with debian alternatives system"
	rm debian/tmp/usr/bin/djview
	rm debian/tmp/usr/share/man/man1/djview.*
	@echo "flush nsdejavu, also in djvulibre"
	find debian/tmp -name nsdejavu\* -print -delete
	@echo "install djview4 icons"
	mkdir --parents $(iconbasedir)/scalable/apps
	mkdir --parents $(iconbasedir)/32x32/apps
	mkdir --parents $(iconbasedir)/64x64/apps
	cp desktopfiles/hi-djview4.svgz  $(iconbasedir)/scalable/apps/$(icon).svgz
	cp desktopfiles/hi32-djview4.png $(iconbasedir)/32x32/apps/$(icon).png
	cp desktopfiles/hi64-djview4.png $(iconbasedir)/64x64/apps/$(icon).png

build clean install binary-arch binary-indep binary:
	dh $@

.PHONY: build clean binary-indep binary-arch binary install
