#!/usr/bin/make -f

export QT_SELECT = qt5

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_configure:
	dh_auto_configure -- --disable-nsdejavu

execute_after_dh_auto_install:
	@echo "rename djview as djview4 to allow debian alternatives"
	mv debian/djview4/usr/bin/djview debian/djview4/usr/bin/djview4
	mv debian/djview4/usr/share/man/man1/djview.1 debian/djview4/usr/share/man/man1/djview4.1

override_dh_installchangelogs:
	dh_installchangelogs NEWS

%:
	dh $@
