<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
          "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIconFile</key>
    <string>@ICON@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleName</key>
    <string>DjView</string>
    <key>CFBundleSignature</key>
    <string>DJVU</string>
    <key>CFBundleExecutable</key>
    <string>@EXECUTABLE@</string>
    <key>CFBundleIdentifier</key>
    <string>org.djvu.DjView</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleShortVersionString</key>
    <string>@SHORT_VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@SHORT_VERSION@</string>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>djvu</string>
          <string>djv</string>
        </array>
        <key>CFBundleTypeMIMETypes</key>
        <array>
          <string>image/vnd.djvu</string>
          <string>image/x-dejavu</string>
          <string>image/djvu</string>
          <string>image/x.djvu</string>
          <string>image/x-djvu</string>
          <string>image/x-iw44</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>DjVu.icns</string>
        <key>CFBundleTypeName</key>
        <string>DjVu File</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSIsAppleDefaultForType</key>
        <true/>
	<key>LSItemContentTypes</key>
	<array>
	  <string>org.djvuzone.djvulibre.djvu</string>
	  <string>com.lizardtech.djvu</string>
	  <string>public.djvu</string>
	</array>
      </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
	<key>UTTypeConformsTo</key>
	<array>
          <string>org.djvuzone.djvulibre.djvu</string>
          <string>com.lizardtech.djvu</string>
          <string>public.djvu</string>
          <string>public.composite-content</string>
	  <string>public.content</string>
	  <string>public.data</string>
	</array>
	<key>UTTypeDescription</key>
	<string>DjVu File</string>
	<key>UTTypeIdentifier</key>
	<string>com.lizardtech.djvu</string>
        <key>UTTypeIconFile</key>
        <string>DjVu.icns</string>
	<key>UTTypeTagSpecification</key>
	<dict>
	  <key>public.filename-extension</key>
	  <array>
	    <string>djv</string>
	    <string>djvu</string>
	  </array>
          <key>public.mime-type</key>
          <array>
            <string>image/vnd.djvu</string>
            <string>image/x-dejavu</string>
            <string>image/djvu</string>
            <string>image/x.djvu</string>
            <string>image/x-djvu</string>
            <string>image/x-iw44</string>
          </array>
	</dict>
      </dict>
    </array>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
  </dict>
</plist>
